<div class="container">
  <div class="text-white p-5 rounded-pill m-5 text-center jumbo-bg">
    <h1 class="display-4">Finance Tracker 6</h1>
    <p class="lead">Vertical on cell phones in portrait, horizontal in landscape.</p>
    <hr class="my-4"></hr>
    <p>You do not need to verify an email to join, just enter a fake email in valid format
       then you can do absolutely nothing except look up stocks on your Portfolio page!

       <br />
       <br />
       ToDo: 1) Allow users to save these searched stocks as their own "stocks". 2) Allow users to have friends. 
            3) Allow friends to see friends "stocks" they've added, and if wanted, add those to their own stock.
            4) Profile picture?
  </div>
</div>
